<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img height="75px" width="75px" alt="Brand" src="http://nmimsbengaluru.org/wp-content/uploads/2016/07/events.gif">
      </a>
      <!-- <h2 class="text-center">EDM and Geek Events</h2> -->
    </div>
  </div>
</nav>
