extend layout.pug



block content
  .container
    h1 Current Events
    .row
      .row
      .col-md-6
        each val in eventResults
          p #{val.title} - #{val.count} / #{val.capacity}
          p #{val.description}
          if (val.full)
             strong Event is FULL!!
          else
            a(href='/') Register Here
          br
          br
          br

    .row
