<h1>{{title}}</h1>
<p>EG prides itself on providing a single stop for finding out where to hear and see great DJs and to meet and play with awesome people.</p>
<a href="#">Current Events</a>
<a href="#"></a>
<a href="#"></a>
<p></p>
